n8n-workflows/WF_appointment_confirm_chat.json
{
  "name": "stoaix — C3 Appointment Confirm Chat",
  "nodes": [

    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "appointment-confirm-chat",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "c3-appointment-confirm-chat"
    },

    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url", "name": "SUPABASE_URL",         "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co", "type": "string" },
            { "id": "cfg_sb_key", "name": "SUPABASE_SERVICE_KEY", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",           "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "n03",
      "name": "Wait Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [640, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "minutes",
        "amount": "={{ $('Webhook').item.json.config?.delay_minutes ?? 0 }}"
      },
      "webhookId": "c3-wait-delay"
    },

    {
      "id": "n04",
      "name": "Fetch Org WA Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id",     "value": "=eq.{{ $('Webhook').item.json.org_id }}" },
            { "name": "select", "value": "id,channel_config,ai_persona" },
            { "name": "limit",  "value": "1" }
          ]
        }
      }
    },

    {
      "id": "n05",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "const orgArr  = $('Fetch Org WA Credentials').all();\nconst org     = orgArr[0]?.json ?? {};\nconst payload = $('Webhook').item.json;\n\nconst wa    = org.channel_config?.whatsapp;\nconst creds = wa?.credentials;\n\nif (!wa?.active || !creds?.phone_number_id || !creds?.access_token) {\n  return [{ json: {\n    skip: true,\n    run_id:       payload.run_id,\n    callback_url: payload.callback_url,\n  } }];\n}\n\nconst lang        = org.ai_persona?.language || 'tr';\nconst contactName = payload.contact_data?.name || '';\nconst apptTime    = payload.contact_data?.appointment_time || payload.config?.appointment_time || '';\nconst orgName     = org.name || '';\n\n// Direct text message for appointment confirm (24h window)\nconst bodyText = lang === 'en'\n  ? `Hello ${contactName}! This is a reminder for your appointment at ${orgName} on ${apptTime}. Please reply YES to confirm or NO to reschedule.`\n  : `Merhaba ${contactName}! ${orgName} randevunuzu hatırlatmak istedik: ${apptTime}. Onaylamak için EVET, yeniden planlamak için HAYIR yazabilir misiniz?`;\n\nreturn [{ json: {\n  skip:             false,\n  phone_number_id:  creds.phone_number_id,\n  access_token:     creds.access_token,\n  to_phone:         payload.phone.replace(/^\\+/, ''),\n  body_text:        bodyText,\n  run_id:           payload.run_id,\n  callback_url:     payload.callback_url,\n} }];"
      }
    },

    {
      "id": "n06",
      "name": "WA Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n07",
      "name": "Send WA Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.body_text }}\" }\n}"
      }
    },

    {
      "id": "n08",
      "name": "Callback — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Message').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Build Message').item.json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Appointment confirm WA message sent\" }\n}"
      }
    },

    {
      "id": "n09",
      "name": "Callback — WA Not Configured",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"status\": \"failed\",\n  \"result\": { \"notes\": \"WhatsApp not configured for this org\" }\n}"
      }
    }

  ],

  "connections": {
    "Webhook":                  { "main": [[{ "node": "Config",                      "type": "main", "index": 0 }]] },
    "Config":                   { "main": [[{ "node": "Wait Delay",                  "type": "main", "index": 0 }]] },
    "Wait Delay":               { "main": [[{ "node": "Fetch Org WA Credentials",    "type": "main", "index": 0 }]] },
    "Fetch Org WA Credentials": { "main": [[{ "node": "Build Message",               "type": "main", "index": 0 }]] },
    "Build Message":            { "main": [[{ "node": "WA Configured?",              "type": "main", "index": 0 }]] },
    "WA Configured?": {
      "main": [
        [{ "node": "Send WA Text",                   "type": "main", "index": 0 }],
        [{ "node": "Callback — WA Not Configured",   "type": "main", "index": 0 }]
      ]
    },
    "Send WA Text": { "main": [[{ "node": "Callback — Success", "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "pinData": {},
  "meta": { "instanceId": "stoaix-platform" },
  "notes": "C3 Appointment Confirm Chat. Sends direct WhatsApp text message T-24h. Note: requires active 24h conversation window or use template instead. Callback on success/fail."
}
