n8n-workflows/WF_appointment_reminder_chat.json
{
  "name": "stoaix — C4 Appointment Reminder Chat",
  "nodes": [
    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "appointment-reminder-chat",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "c4-appointment-reminder-chat"
    },
    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg_sb_url",
              "name": "SUPABASE_URL",
              "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg_sb_key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n03",
      "name": "Fetch Org WA Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Webhook').first().json.body.org_id }}"
            },
            {
              "name": "select",
              "value": "id,name,channel_config,ai_persona"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        }
      }
    },
    {
      "id": "n04",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const orgArr  = $('Fetch Org WA Credentials').all();\nconst org     = orgArr[0]?.json ?? {};\nconst payload = $('Webhook').first().json.body;\n\nconst wa    = org.channel_config?.whatsapp;\nconst creds = wa?.credentials;\n\nif (!wa?.active || !creds?.phone_number_id || !creds?.access_token) {\n  return [{ json: {\n    skip: true,\n    run_id:       payload.run_id,\n    callback_url: payload.callback_url,\n    phone:        payload.phone,\n  } }];\n}\n\nconst lang = org.ai_persona?.language || 'tr';\nconst LANG_MAP = { en: 'en_US', de: 'de', tr: 'tr', ar: 'ar', fr: 'fr_FR' };\nconst templateLang = LANG_MAP[lang] || lang;\nconst templateName = payload.config?.message_template || 're_engagement_v1';\n\nconst cd = payload.contact_data || {};\nconst isTR = (lang === 'tr');\nconst isDE = (lang === 'de');\nconst param1 = cd.name || cd.full_name\n  || (isTR ? 'Değerli müşterimiz' : isDE ? 'Geschätzter Kunde' : 'Valued customer');\n\nconst apptRaw = cd.appointment_time || '';\nlet param2 = '', param3 = '';\nif (apptRaw.includes(',')) {\n  const parts = apptRaw.split(',').map(s => s.trim());\n  param2 = parts[0] || '';\n  param3 = parts[1] || '';\n} else if (apptRaw) {\n  param2 = apptRaw;\n}\n\nconst templateBody = {\n  messaging_product: 'whatsapp',\n  to: payload.phone.replace(/^\\+/, ''),\n  type: 'template',\n  template: {\n    name: templateName,\n    language: { code: templateLang }\n  }\n};\n\nconst paramCount = Number(payload.config?.template_param_count) || 0;\nif (paramCount >= 1) {\n  const params = [{ type: 'text', text: param1 }];\n  if (paramCount >= 2 && param2) params.push({ type: 'text', text: param2 });\n  if (paramCount >= 3 && param3) params.push({ type: 'text', text: param3 });\n  templateBody.template.components = [{ type: 'body', parameters: params }];\n}\n\nreturn [{ json: {\n  skip:             false,\n  phone_number_id:  creds.phone_number_id,\n  access_token:     creds.access_token,\n  template_body:    JSON.stringify(templateBody),\n  run_id:           payload.run_id,\n  callback_url:     payload.callback_url,\n} }];"
      }
    },
    {
      "id": "n05",
      "name": "WA Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n06",
      "name": "Send WA Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.template_body }}"
      }
    },
    {
      "id": "n07",
      "name": "Callback — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Reminder Message').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Build Reminder Message').item.json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Appointment T-2h reminder WA template sent\" }\n}"
      }
    },
    {
      "id": "n08",
      "name": "Callback — WA Not Configured",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"status\": \"failed\",\n  \"result\": { \"notes\": \"WhatsApp not configured for this org\" }\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Org WA Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Org WA Credentials": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "WA Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Configured?": {
      "main": [
        [
          {
            "node": "Send WA Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback — WA Not Configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Template": {
      "main": [
        [
          {
            "node": "Callback — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "instanceId": "stoaix-platform"
  },
  "notes": "C4 Appointment Reminder Chat (T-2h). Sends approved WA template. Triggered by n8n schedule polling appointments table. No Wait node — schedule fires when appointment is 2h away."
}
