n8n-workflows/WF_cold_outreach.json
{
  "name": "stoaix Platform — Cold Outreach Sequence",
  "nodes": [
    {
      "id": "n01",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 12 }]
        }
      }
    },
    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_supabase_url", "name": "SUPABASE_URL",         "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co", "type": "string" },
            { "id": "cfg_supabase_key", "name": "SUPABASE_SERVICE_KEY", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",           "type": "string" },
            { "id": "cfg_hour_start",   "name": "HOUR_START",           "value": "10",                                       "type": "number" },
            { "id": "cfg_hour_end",     "name": "HOUR_END",             "value": "17",                                       "type": "number" },
            { "id": "cfg_touch2_days",  "name": "TOUCH2_DELAY_DAYS",    "value": "3",                                        "type": "number" },
            { "id": "cfg_cleanup_days", "name": "CLEANUP_DELAY_DAYS",   "value": "3",                                        "type": "number" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n05",
      "name": "Get Active GHL Orgs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/organizations",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status",              "value": "eq.active" },
            { "name": "select",              "value": "id,name,crm_config,ai_persona,timezone,excluded_phones" },
            { "name": "crm_config->>provider", "value": "eq.ghl" }
          ]
        }
      }
    },
    {
      "id": "n06",
      "name": "Process All Orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "// ── Config ────────────────────────────────────────────────────────────────\nconst cfg = $('Config').first().json;\nconst SUPABASE_URL         = cfg.SUPABASE_URL;\nconst SUPABASE_SERVICE_KEY = cfg.SUPABASE_SERVICE_KEY;\nconst HOUR_START           = Number(cfg.HOUR_START);\nconst HOUR_END             = Number(cfg.HOUR_END);\nconst TOUCH2_DELAY_DAYS    = Number(cfg.TOUCH2_DELAY_DAYS);\nconst CLEANUP_DELAY_DAYS   = Number(cfg.CLEANUP_DELAY_DAYS);\n\nconst h = {\n  'apikey': SUPABASE_SERVICE_KEY,\n  'Authorization': `Bearer ${SUPABASE_SERVICE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst orgs = $input.all().map(i => i.json);\nif (!orgs.length) return [{ json: { result: 'no_active_ghl_orgs' } }];\n\nconst results = [];\nconst now = new Date();\nconst norm = (p) => String(p || '').replace(/\\D/g, '');\n\nfor (const org of orgs) {\n  const crm     = typeof org.crm_config === 'string' ? JSON.parse(org.crm_config) : (org.crm_config || {});\n  const persona = typeof org.ai_persona === 'string' ? JSON.parse(org.ai_persona) : (org.ai_persona || {});\n  const orgId      = org.id;\n  const orgName    = org.name;\n  const orgTZ      = org.timezone || 'Europe/Berlin';\n  const agentName  = persona.persona_name || 'Asistan';\n  const locationId = crm.location_id;\n  const pitToken   = crm.pit_token;\n  const excl       = new Set((Array.isArray(org.excluded_phones) ? org.excluded_phones : []).map(norm).filter(Boolean));\n\n  // ── Business hours check (per-org timezone) ──────────────────────────────\n  const local = new Date(now.toLocaleString('en-US', { timeZone: orgTZ }));\n  const hour  = local.getHours();\n  const day   = local.getDay(); // 0=Sun, 6=Sat\n  if (day === 0 || day === 6 || hour < HOUR_START || hour >= HOUR_END) {\n    results.push({ orgId, orgName, orgTZ, skipped: `outside_hours (${hour}:xx)` });\n    continue;\n  }\n\n  const orgResult = { orgId, orgName, orgTZ, phase1: null, phase2: null };\n\n  // ════════════════════════════════════════════════════════════════════════\n  // PHASE 1 — Pick one new lead and send Touch 1\n  // ════════════════════════════════════════════════════════════════════════\n  try {\n    const leadsRes = await fetch(\n      `${SUPABASE_URL}/rest/v1/leads?organization_id=eq.${orgId}&status=eq.new&source_channel=eq.import&select=id,contact_id,collected_data,contacts(phone,full_name)&order=created_at.asc&limit=15`,\n      { headers: h }\n    );\n    const leads = await leadsRes.json();\n\n    let el = null;\n    for (const l of (Array.isArray(leads) ? leads : [])) {\n      const d = typeof l.collected_data === 'string' ? JSON.parse(l.collected_data) : (l.collected_data || {});\n      if (d.cold_outreach_started) continue;\n      const phone = l.contacts?.phone;\n      if (!phone || excl.has(norm(phone))) continue;\n      el = { ...l, phone, name: l.contacts?.full_name || '' };\n      break;\n    }\n\n    if (!el) {\n      orgResult.phase1 = 'no_eligible_lead';\n    } else {\n      // Fetch touch_1 template\n      const tplRes = await fetch(\n        `${SUPABASE_URL}/rest/v1/outreach_templates?organization_id=eq.${orgId}&sequence_stage=eq.touch_1&channel=eq.whatsapp&active=eq.true&limit=1`,\n        { headers: h }\n      );\n      const tpls = await tplRes.json();\n\n      if (!Array.isArray(tpls) || !tpls.length) {\n        orgResult.phase1 = 'no_template';\n      } else {\n        const firstName = (el.name || '').split(' ')[0] || 'Hallo';\n        const msg = tpls[0].message\n          .replace(/\\{\\{name\\}\\}/g, firstName)\n          .replace(/\\{\\{agent_name\\}\\}/g, agentName);\n\n        // GHL: find contact by phone\n        const srchRes = await fetch(\n          `https://services.leadconnectorhq.com/contacts/search?locationId=${locationId}&query=${encodeURIComponent(el.phone)}`,\n          { headers: { 'Authorization': `Bearer ${pitToken}`, 'Version': '2021-04-15' } }\n        );\n        const srchData  = await srchRes.json();\n        const ghlList   = srchData.contacts || [];\n\n        if (!ghlList.length) {\n          orgResult.phase1 = `not_in_ghl (${el.phone})`;\n        } else {\n          const ghlContactId = ghlList[0].id;\n\n          // Send via WAGHL (type: SMS = WhatsApp QR-code connection)\n          await fetch('https://services.leadconnectorhq.com/conversations/messages', {\n            method: 'POST',\n            headers: { 'Authorization': `Bearer ${pitToken}`, 'Version': '2021-04-15', 'Content-Type': 'application/json' },\n            body: JSON.stringify({ type: 'SMS', contactId: ghlContactId, message: msg })\n          });\n\n          // Mark outreach started\n          const ts = new Date().toISOString();\n          await fetch(`${SUPABASE_URL}/rest/v1/leads?id=eq.${el.id}`, {\n            method: 'PATCH', headers: h,\n            body: JSON.stringify({ collected_data: { cold_outreach_started: ts, cold_touch1_sent_at: ts } })\n          });\n\n          // Schedule touch_2\n          await fetch(`${SUPABASE_URL}/rest/v1/follow_up_tasks`, {\n            method: 'POST', headers: h,\n            body: JSON.stringify({\n              organization_id: orgId, lead_id: el.id, contact_id: el.contact_id,\n              task_type: 'cold_outreach', template_key: 'touch_2', status: 'pending',\n              scheduled_at: new Date(Date.now() + TOUCH2_DELAY_DAYS * 86400000).toISOString(),\n              variables: { ghl_contact_id: ghlContactId, phone: el.phone, name: el.name, agent_name: agentName }\n            })\n          });\n\n          // Schedule cleanup check\n          await fetch(`${SUPABASE_URL}/rest/v1/follow_up_tasks`, {\n            method: 'POST', headers: h,\n            body: JSON.stringify({\n              organization_id: orgId, lead_id: el.id, contact_id: el.contact_id,\n              task_type: 'cold_outreach', template_key: 'cleanup', status: 'pending',\n              scheduled_at: new Date(Date.now() + (TOUCH2_DELAY_DAYS + CLEANUP_DELAY_DAYS) * 86400000).toISOString(),\n              variables: { lead_id: el.id }\n            })\n          });\n\n          orgResult.phase1 = `sent → ${el.name} (${el.phone})`;\n        }\n      }\n    }\n  } catch (e) {\n    orgResult.phase1 = `error: ${e.message}`;\n  }\n\n  // ════════════════════════════════════════════════════════════════════════\n  // PHASE 2 — Process pending follow-up tasks (touch_2 + cleanup)\n  // ════════════════════════════════════════════════════════════════════════\n  try {\n    const tasksRes = await fetch(\n      `${SUPABASE_URL}/rest/v1/follow_up_tasks?organization_id=eq.${orgId}&task_type=eq.cold_outreach&status=eq.pending&scheduled_at=lte.${now.toISOString()}&order=scheduled_at.asc&limit=10`,\n      { headers: h }\n    );\n    const tasks = await tasksRes.json();\n\n    if (!Array.isArray(tasks) || !tasks.length) {\n      orgResult.phase2 = 'no_tasks';\n    } else {\n      let processed = 0;\n      for (const task of tasks) {\n        const vars = typeof task.variables === 'string' ? JSON.parse(task.variables) : (task.variables || {});\n        const { ghl_contact_id, phone, name, agent_name } = vars;\n\n        // Check if already replied\n        const convRes = await fetch(\n          `${SUPABASE_URL}/rest/v1/conversations?organization_id=eq.${orgId}&contact_id=eq.${task.contact_id}&select=id&limit=1`,\n          { headers: h }\n        );\n        const convs = await convRes.json();\n        if (Array.isArray(convs) && convs.length > 0) {\n          await fetch(\n            `${SUPABASE_URL}/rest/v1/follow_up_tasks?lead_id=eq.${task.lead_id}&task_type=eq.cold_outreach&status=eq.pending`,\n            { method: 'PATCH', headers: h, body: JSON.stringify({ status: 'cancelled' }) }\n          );\n          processed++;\n          continue;\n        }\n\n        if (task.template_key === 'touch_2') {\n          const tplRes = await fetch(\n            `${SUPABASE_URL}/rest/v1/outreach_templates?organization_id=eq.${orgId}&sequence_stage=eq.touch_2&channel=eq.whatsapp&active=eq.true&limit=1`,\n            { headers: h }\n          );\n          const tpls = await tplRes.json();\n          if (Array.isArray(tpls) && tpls.length) {\n            const firstName = (name || '').split(' ')[0] || 'Hallo';\n            const msg = tpls[0].message\n              .replace(/\\{\\{name\\}\\}/g, firstName)\n              .replace(/\\{\\{agent_name\\}\\}/g, agent_name || agentName);\n            await fetch('https://services.leadconnectorhq.com/conversations/messages', {\n              method: 'POST',\n              headers: { 'Authorization': `Bearer ${pitToken}`, 'Version': '2021-04-15', 'Content-Type': 'application/json' },\n              body: JSON.stringify({ type: 'SMS', contactId: ghl_contact_id, message: msg })\n            });\n          }\n          await fetch(`${SUPABASE_URL}/rest/v1/follow_up_tasks?id=eq.${task.id}`, {\n            method: 'PATCH', headers: h, body: JSON.stringify({ status: 'sent' })\n          });\n\n        } else if (task.template_key === 'cleanup') {\n          await fetch(`${SUPABASE_URL}/rest/v1/leads?id=eq.${task.lead_id}`, {\n            method: 'PATCH', headers: h, body: JSON.stringify({ status: 'lost' })\n          });\n          await fetch(\n            `${SUPABASE_URL}/rest/v1/follow_up_tasks?lead_id=eq.${task.lead_id}&task_type=eq.cold_outreach&status=eq.pending`,\n            { method: 'PATCH', headers: h, body: JSON.stringify({ status: 'cancelled' }) }\n          );\n        }\n        processed++;\n      }\n      orgResult.phase2 = `done (${processed}/${tasks.length})`;\n    }\n  } catch (e) {\n    orgResult.phase2 = `error: ${e.message}`;\n  }\n\n  results.push(orgResult);\n}\n\nreturn [{ json: { processed_orgs: results.length, results } }];"
      }
    }
  ],
  "connections": {
    "Schedule":           { "main": [[{ "node": "Config",             "type": "main", "index": 0 }]] },
    "Config":             { "main": [[{ "node": "Get Active GHL Orgs","type": "main", "index": 0 }]] },
    "Get Active GHL Orgs":{ "main": [[{ "node": "Process All Orgs",   "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "stoaix-platform"
  }
}
