n8n-workflows/WF_call_then_whatsapp.json
{
  "name": "stoaix — S1 Call Then WhatsApp",
  "nodes": [

    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "call-then-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "s1-call-then-whatsapp"
    },

    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url",  "name": "SUPABASE_URL",          "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",       "type": "string" },
            { "id": "cfg_sb_key",  "name": "SUPABASE_SERVICE_KEY",  "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",                 "type": "string" },
            { "id": "cfg_lk_url",  "name": "LIVEKIT_HTTP_URL",      "value": "https://stoaix-platform-79ln8on8.livekit.cloud", "type": "string" },
            { "id": "cfg_lk_key",  "name": "LIVEKIT_API_KEY",       "value": "YOUR_LIVEKIT_API_KEY",                           "type": "string" },
            { "id": "cfg_lk_sec",  "name": "LIVEKIT_API_SECRET",    "value": "YOUR_LIVEKIT_API_SECRET",                       "type": "string" },
            { "id": "cfg_agent",   "name": "LIVEKIT_AGENT_NAME",    "value": "stoaix-platform",                                "type": "string" },
            { "id": "cfg_tz",      "name": "TZ_OFFSET_HOURS",       "value": "3",                                              "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "n03",
      "name": "Working Hours?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "const cfg     = $('Config').first().json;\nconst payload = $('Webhook').item.json;\nconst cfg2    = payload.config || {};\n\nconst tzOff  = parseInt(cfg.TZ_OFFSET_HOURS, 10);\nconst hStart = cfg2.working_hours_start ? parseInt(cfg2.working_hours_start.split(':')[0], 10) : 9;\nconst hEnd   = cfg2.working_hours_end   ? parseInt(cfg2.working_hours_end.split(':')[0],   10) : 19;\n\nconst nowUtc   = new Date();\nconst nowLocal = new Date(nowUtc.getTime() + tzOff * 3600 * 1000);\nconst hour     = nowLocal.getUTCHours();\nconst day      = nowLocal.getUTCDay();\n\nif (day === 0) return [];\nif (hour < hStart || hour >= hEnd) return [];\n\nreturn [{ json: payload }];"
      }
    },

    {
      "id": "n04",
      "name": "Fetch Org Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id",     "value": "={{ 'eq.' + $('Webhook').item.json.org_id }}" },
            { "name": "select", "value": "id,name,channel_config,ai_persona" },
            { "name": "limit",  "value": "1" }
          ]
        }
      }
    },

    {
      "id": "n05",
      "name": "Build Voice + WA Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "const crypto  = require('crypto');\nconst cfg     = $('Config').first().json;\nconst payload = $('Webhook').item.json;\nconst orgArr  = $('Fetch Org Config').all();\nconst org     = orgArr[0]?.json ?? {};\n\n// Voice (SIP) credentials\nconst voiceOut   = org.channel_config?.voice_outbound ?? {};\nconst trunkId    = voiceOut.livekit_sip_outbound_trunk_id;\nconst fromNumber = voiceOut.from_number || '';\nconst voiceAvailable = !!trunkId && !!payload.phone;\n\n// WA credentials\nconst wa        = org.channel_config?.whatsapp ?? {};\nconst waCreds   = wa.credentials ?? {};\nconst waPhoneId = waCreds.phone_number_id || '';\nconst waToken   = waCreds.access_token || '';\nconst waActive  = !!wa.active && !!waPhoneId && !!waToken;\n\nif (!voiceAvailable && !waActive) {\n  console.error('No voice SIP and no WA for org: ' + payload.org_id);\n  return [];\n}\n\nfunction base64url(s) {\n  return Buffer.from(s).toString('base64url');\n}\n\nlet jwt = '';\nlet roomName = '';\nlet agentMetadata = '';\n\nif (voiceAvailable) {\n  const now    = Math.floor(Date.now() / 1000);\n  const header = base64url(JSON.stringify({ alg:'HS256', typ:'JWT' }));\n  const claims = base64url(JSON.stringify({\n    iss: cfg.LIVEKIT_API_KEY,\n    sub: 'n8n-outbound-s1',\n    exp: now + 600,\n    nbf: now,\n    video: { roomCreate: true, roomAdmin: true },\n    sip:   { admin: true, call: true },\n  }));\n  const sig = crypto.createHmac('sha256', cfg.LIVEKIT_API_SECRET)\n    .update(header + '.' + claims).digest('base64url');\n  jwt = header + '.' + claims + '.' + sig;\n  roomName = 'wf-' + payload.run_id.replace(/-/g,'').slice(0, 12);\n}\n\nconst contactName = payload.contact_data?.name || '';\nconst lang        = org.ai_persona?.language || 'tr';\nconst waTemplate  = payload.config?.wa_template || 're_engagement_v1';\nconst templateLang = lang === 'en' ? 'en_US' : 'tr';\nconst voiceWaitMinutes = payload.config?.voice_wait_minutes || 60;\n\nagentMetadata = JSON.stringify({\n  organization_id: payload.org_id,\n  scenario:        'first_contact',\n  contact_id:      payload.contact_data?.contact_id || null,\n  lead_id:         payload.contact_data?.lead_id || null,\n  phone_to:        payload.phone,\n  contact_name:    contactName,\n  run_id:          payload.run_id,\n  callback_url:    payload.callback_url,\n});\n\nreturn [{ json: {\n  voice_available:    voiceAvailable,\n  jwt,\n  trunk_id:           trunkId || '',\n  from_number:        fromNumber,\n  room_name:          roomName,\n  phone:              payload.phone,\n  contact_name:       contactName,\n  run_id:             payload.run_id,\n  callback_url:       payload.callback_url,\n  agent_metadata:     agentMetadata,\n  wa_active:          waActive,\n  wa_phone_id:        waPhoneId,\n  wa_token:           waToken,\n  wa_template:        waTemplate,\n  wa_template_lang:   templateLang,\n  wa_to_phone:        payload.phone.replace(/^\\+/, ''),\n  voice_wait_minutes: voiceWaitMinutes,\n} }];"
      }
    },

    {
      "id": "n06",
      "name": "Voice Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $json.voice_available }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n07",
      "name": "Create LiveKit Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.RoomService/CreateRoom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\":              \"{{ $json.room_name }}\",\n  \"metadata\":          \"{{ $json.agent_metadata.replace(/\"/g, '\\\\\"') }}\",\n  \"empty_timeout\":     120,\n  \"departure_timeout\": 10\n}"
      }
    },

    {
      "id": "n08",
      "name": "Dispatch Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.AgentDispatchService/CreateDispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Build Voice + WA Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_name\": \"{{ $('Config').first().json.LIVEKIT_AGENT_NAME }}\",\n  \"room\":       \"{{ $('Build Voice + WA Payload').item.json.room_name }}\",\n  \"metadata\":   \"{{ $('Build Voice + WA Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },

    {
      "id": "n09",
      "name": "Initiate SIP Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.SIP/CreateSIPParticipant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Build Voice + WA Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"sip_trunk_id\":         \"{{ $('Build Voice + WA Payload').item.json.trunk_id }}\",\n  \"sip_call_to\":          \"{{ $('Build Voice + WA Payload').item.json.phone }}\",\n  \"room_name\":            \"{{ $('Build Voice + WA Payload').item.json.room_name }}\",\n  \"participant_identity\": \"sip-{{ $('Build Voice + WA Payload').item.json.phone.replace(/\\\\+/g,'') }}\",\n  \"participant_name\":     \"{{ $('Build Voice + WA Payload').item.json.contact_name }}\",\n  \"participant_metadata\": \"{{ $('Build Voice + WA Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },

    {
      "id": "n10",
      "name": "Wait for Voice Result",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2180, 180],
      "parameters": {
        "resume": "timeInterval",
        "unit": "minutes",
        "amount": "={{ $('Build Voice + WA Payload').first().json.voice_wait_minutes }}"
      },
      "webhookId": "s1-wait-voice-result"
    },

    {
      "id": "n11",
      "name": "Check Run Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 180],
      "parameters": {
        "jsCode": "const cfg   = $('Config').first().json;\nconst runId = $('Build Voice + WA Payload').first().json.run_id;\n\nconst res    = await fetch(\n  `${cfg.SUPABASE_URL}/rest/v1/workflow_runs?id=eq.${runId}&select=status&limit=1`,\n  { headers: { apikey: cfg.SUPABASE_SERVICE_KEY, Authorization: `Bearer ${cfg.SUPABASE_SERVICE_KEY}` } }\n);\nconst data   = await res.json();\nconst status = data[0]?.status || 'unknown';\n\nreturn [{ json: { run_status: status, voice_succeeded: status === 'success' } }];"
      }
    },

    {
      "id": "n12",
      "name": "Voice Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2600, 180],
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $json.voice_succeeded }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n13",
      "name": "Callback — Voice Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 80],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Voice + WA Payload').first().json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Build Voice + WA Payload').first().json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Voice call answered\" }\n}"
      }
    },

    {
      "id": "n14",
      "name": "WA Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2800, 320],
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $('Build Voice + WA Payload').first().json.wa_active }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n15",
      "name": "Send WA Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3020, 240],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Build Voice + WA Payload').first().json.wa_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Build Voice + WA Payload').first().json.wa_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Build Voice + WA Payload').first().json.wa_to_phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $('Build Voice + WA Payload').first().json.wa_template }}\",\n    \"language\": { \"code\": \"{{ $('Build Voice + WA Payload').first().json.wa_template_lang }}\" }\n  }\n}"
      }
    },

    {
      "id": "n16",
      "name": "Callback — WA Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3240, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Voice + WA Payload').first().json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Build Voice + WA Payload').first().json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Voice unanswered — WA fallback sent\" }\n}"
      }
    },

    {
      "id": "n17",
      "name": "Callback — Both Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3020, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Voice + WA Payload').first().json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Build Voice + WA Payload').first().json.run_id }}\",\n  \"status\": \"failed\",\n  \"result\": { \"notes\": \"Voice unanswered and WA not configured\" }\n}"
      }
    }

  ],

  "connections": {
    "Webhook":               { "main": [[{ "node": "Config",                "type": "main", "index": 0 }]] },
    "Config":                { "main": [[{ "node": "Working Hours?",        "type": "main", "index": 0 }]] },
    "Working Hours?":        { "main": [[{ "node": "Fetch Org Config",      "type": "main", "index": 0 }]] },
    "Fetch Org Config":      { "main": [[{ "node": "Build Voice + WA Payload", "type": "main", "index": 0 }]] },
    "Build Voice + WA Payload": { "main": [[{ "node": "Voice Available?",  "type": "main", "index": 0 }]] },
    "Voice Available?": {
      "main": [
        [{ "node": "Create LiveKit Room", "type": "main", "index": 0 }],
        [{ "node": "WA Active?",          "type": "main", "index": 0 }]
      ]
    },
    "Create LiveKit Room":  { "main": [[{ "node": "Dispatch Agent",         "type": "main", "index": 0 }]] },
    "Dispatch Agent":       { "main": [[{ "node": "Initiate SIP Call",      "type": "main", "index": 0 }]] },
    "Initiate SIP Call":    { "main": [[{ "node": "Wait for Voice Result",  "type": "main", "index": 0 }]] },
    "Wait for Voice Result":{ "main": [[{ "node": "Check Run Status",       "type": "main", "index": 0 }]] },
    "Check Run Status":     { "main": [[{ "node": "Voice Succeeded?",       "type": "main", "index": 0 }]] },
    "Voice Succeeded?": {
      "main": [
        [{ "node": "Callback — Voice Success", "type": "main", "index": 0 }],
        [{ "node": "WA Active?",               "type": "main", "index": 0 }]
      ]
    },
    "WA Active?": {
      "main": [
        [{ "node": "Send WA Fallback",     "type": "main", "index": 0 }],
        [{ "node": "Callback — Both Failed","type": "main", "index": 0 }]
      ]
    },
    "Send WA Fallback": { "main": [[{ "node": "Callback — WA Sent", "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "pinData": {},
  "meta": { "instanceId": "stoaix-platform" },
  "notes": "S1 Call Then WhatsApp. Tries voice call first. Waits voice_wait_minutes (60 default). If voice unanswered → sends WA template fallback. If no voice SIP → WA directly. Both channels can fail independently."
}
