n8n-workflows/WF_chatbot_followup.json
{
  "name": "stoaix — C2 Chatbot Followup (No Reply)",
  "nodes": [
    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "chatbot-followup",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "c2-chatbot-followup"
    },
    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg_sb_url",
              "name": "SUPABASE_URL",
              "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg_sb_key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n03",
      "name": "Wait Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": "={{ $('Webhook').first().json.body.config?.no_reply_hours ?? 4 }}"
      },
      "webhookId": "c2-wait-delay"
    },
    {
      "id": "n04",
      "name": "Check Still No Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "={{ 'eq.' + $('Webhook').first().json.body.contact_data.conversation_id }}"
            },
            {
              "name": "sender_type",
              "value": "eq.contact"
            },
            {
              "name": "created_at",
              "value": "={{ 'gte.' + $('Webhook').first().json.body.contact_data.last_ai_message_at }}"
            },
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        }
      }
    },
    {
      "id": "n05",
      "name": "Still No Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.length ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n06",
      "name": "Fetch Org WA Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Webhook').first().json.body.org_id }}"
            },
            {
              "name": "select",
              "value": "id,channel_config,ai_persona"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        }
      }
    },
    {
      "id": "n07",
      "name": "Extract WA Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        200
      ],
      "parameters": {
        "jsCode": "const orgArr  = $('Fetch Org WA Credentials').all();\nconst org     = orgArr[0]?.json ?? {};\nconst payload = $('Webhook').first().json.body;\n\nconst wa    = org.channel_config?.whatsapp;\nconst creds = wa?.credentials;\n\nif (!wa?.active || !creds?.phone_number_id || !creds?.access_token) {\n  return [{ json: {\n    skip: true,\n    run_id:       payload.run_id,\n    callback_url: payload.callback_url,\n    phone:        payload.phone,\n  } }];\n}\n\nconst lang = org.ai_persona?.language || 'tr';\nconst LANG_MAP = { en: 'en_US', de: 'de', tr: 'tr', ar: 'ar', fr: 'fr_FR' };\nconst templateLang = LANG_MAP[lang] || lang;\nconst templateName = payload.config?.message_template || 're_engagement_v1';\n\nconst cd = payload.contact_data || {};\nconst isTR = (lang === 'tr');\nconst isDE = (lang === 'de');\nconst param1 = cd.name || cd.full_name\n  || (isTR ? 'Değerli müşterimiz' : isDE ? 'Geschätzter Kunde' : 'Valued customer');\n\nconst templateBody = {\n  messaging_product: 'whatsapp',\n  to: payload.phone.replace(/^\\+/, ''),\n  type: 'template',\n  template: {\n    name: templateName,\n    language: { code: templateLang }\n  }\n};\n\nconst paramCount = Number(payload.config?.template_param_count) || 0;\nif (paramCount >= 1 && param1) {\n  templateBody.template.components = [{\n    type: 'body',\n    parameters: [{ type: 'text', text: param1 }]\n  }];\n}\n\nreturn [{ json: {\n  skip:             false,\n  phone_number_id:  creds.phone_number_id,\n  access_token:     creds.access_token,\n  template_body:    JSON.stringify(templateBody),\n  run_id:           payload.run_id,\n  callback_url:     payload.callback_url,\n} }];"
      }
    },
    {
      "id": "n08",
      "name": "WA Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n09",
      "name": "Send WA Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.template_body }}"
      }
    },
    {
      "id": "n10",
      "name": "Callback — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract WA Credentials').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Extract WA Credentials').item.json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Follow-up WA template sent\" }\n}"
      }
    },
    {
      "id": "n11",
      "name": "Callback — Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"status\": \"failed\",\n  \"result\": { \"notes\": \"WhatsApp not configured or contact replied\" }\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Wait Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Delay": {
      "main": [
        [
          {
            "node": "Check Still No Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Still No Reply": {
      "main": [
        [
          {
            "node": "Still No Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still No Reply?": {
      "main": [
        [
          {
            "node": "Fetch Org WA Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback — Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Org WA Credentials": {
      "main": [
        [
          {
            "node": "Extract WA Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WA Credentials": {
      "main": [
        [
          {
            "node": "WA Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Configured?": {
      "main": [
        [
          {
            "node": "Send WA Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback — Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Template": {
      "main": [
        [
          {
            "node": "Callback — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "instanceId": "stoaix-platform"
  },
  "notes": "C2 Chatbot Follow-up. Triggered by no_reply event. Waits no_reply_hours, checks if contact still hasn't replied, then sends WA re-engagement template."
}
