n8n-workflows/WF_drip_reactivation.json
{
  "name": "stoaix — SCHED Drip Reactivation",
  "nodes": [

    {
      "id": "dr01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 30 }
          ]
        }
      }
    },

    {
      "id": "dr02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url", "name": "SUPABASE_URL",         "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co", "type": "string" },
            { "id": "cfg_sb_key", "name": "SUPABASE_SERVICE_KEY", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",           "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "dr03",
      "name": "Drip Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "const SB_URL = $('Config').first().json.SUPABASE_URL;\nconst SB_KEY = $('Config').first().json.SUPABASE_SERVICE_KEY;\nconst hdrs = {\n  'apikey': SB_KEY,\n  'Authorization': 'Bearer ' + SB_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nasync function sbGet(path) {\n  const res = await fetch(SB_URL + '/rest/v1/' + path, {\n    headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY }\n  });\n  if (!res.ok) return [];\n  return res.json();\n}\n\nasync function sbPost(path, body) {\n  const res = await fetch(SB_URL + '/rest/v1/' + path, {\n    method: 'POST', headers: hdrs, body: JSON.stringify(body)\n  });\n  return res.ok;\n}\n\nasync function sbRpc(fn, params) {\n  const res = await fetch(SB_URL + '/rest/v1/rpc/' + fn, {\n    method: 'POST',\n    headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json' },\n    body: JSON.stringify(params)\n  });\n  return res.ok;\n}\n\n// ── Helpers ──\nfunction todayStr() { return new Date().toISOString().slice(0, 10); }\nfunction daysAgo(n) { const d = new Date(); d.setDate(d.getDate() - n); return d.toISOString(); }\nfunction billingPeriod() { const d = new Date(); return d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0'); }\n\nfunction getOrgHour(tz) {\n  try {\n    const f = new Intl.DateTimeFormat('en-US', { hour: 'numeric', hour12: false, timeZone: tz });\n    return parseInt(f.format(new Date()), 10);\n  } catch { return new Date().getUTCHours() + 3; } // fallback TR\n}\n\nfunction parseHour(timeStr) {\n  return parseInt((timeStr || '09:00').split(':')[0], 10);\n}\n\n// ── 1. Aktif reactivation_chat workflow'ları ──\nconst workflows = await sbGet(\n  'org_workflows?template_id=eq.reactivation_chat&is_active=eq.true' +\n  '&select=id,organization_id,config'\n);\n\nif (!workflows.length) {\n  return [{ json: { processed: 0, message: 'No active reactivation workflows' } }];\n}\n\nconst results = [];\n\nfor (const wf of workflows) {\n  const orgId = wf.organization_id;\n  const cfg = wf.config || {};\n  const inactiveDays   = Math.max(cfg.inactive_days || 30, 30); // minimum 30\n  const cooldownDays   = cfg.cooldown_days || 30;\n  const dailyLimit     = cfg.daily_limit || 50;\n  const timezone       = cfg.timezone || 'Europe/Istanbul';\n  const whStart        = parseHour(cfg.working_hours_start || '09:00');\n  const whEnd          = parseHour(cfg.working_hours_end || '17:00');\n  const targetStatuses = (cfg.target_statuses || 'lost,new,in_progress').split(',');\n  const templateName   = cfg.message_template || '';\n\n  // ── Working hours check (org timezone) ──\n  const orgHour = getOrgHour(timezone);\n  if (orgHour < whStart || orgHour >= whEnd) {\n    results.push({ org: orgId, status: 'skip', reason: 'outside_working_hours', orgHour, window: whStart + '-' + whEnd });\n    continue;\n  }\n\n  if (!templateName) {\n    results.push({ org: orgId, status: 'skip', reason: 'no_template' });\n    continue;\n  }\n\n  // ── Batch size: dengeli dağılım ──\n  // Çalışma saatleri içindeki kalan pencere sayısına göre batch hesapla\n  const windowsLeft = Math.max(1, (whEnd - orgHour) * 2); // her saat 2 pencere (30dk)\n  const batchSize = Math.max(1, Math.ceil(dailyLimit / ((whEnd - whStart) * 2)));\n\n  // ── 2. Quota check ──\n  const period = billingPeriod();\n  const usage = await sbGet(\n    'usage_counters?organization_id=eq.' + orgId +\n    '&metric=eq.reactivation_lead_count&billing_period=eq.' + period +\n    '&select=value&limit=1'\n  );\n  const usedCount = (usage[0] && usage[0].value) || 0;\n\n  const subRows = await sbGet(\n    'org_subscriptions?organization_id=eq.' + orgId + '&select=plan_id&limit=1'\n  );\n  const planId = (subRows[0] && subRows[0].plan_id) || 'legacy';\n\n  let effectiveLimit = 999999;\n  if (planId !== 'legacy') {\n    const entRows = await sbGet(\n      'plan_entitlements?plan_id=eq.' + planId +\n      '&feature_key=eq.workflow_reactivation&select=limit_value&limit=1'\n    );\n    const planLimit = (entRows[0] && entRows[0].limit_value) || 0;\n    const overrideRows = await sbGet(\n      'org_entitlement_overrides?organization_id=eq.' + orgId +\n      '&feature_key=eq.workflow_reactivation&select=limit_override&limit=1'\n    );\n    effectiveLimit = (overrideRows[0] && overrideRows[0].limit_override) || planLimit;\n  }\n\n  if (usedCount >= effectiveLimit) {\n    results.push({ org: orgId, status: 'skip', reason: 'quota_exceeded', used: usedCount, limit: effectiveLimit });\n    continue;\n  }\n\n  // ── 3. Daily limit check ──\n  const todayRuns = await sbGet(\n    'workflow_runs?org_workflow_id=eq.' + wf.id +\n    '&status=eq.success&created_at=gte.' + todayStr() + 'T00:00:00Z' +\n    '&select=id&limit=' + (dailyLimit + 1)\n  );\n\n  if (todayRuns.length >= dailyLimit) {\n    results.push({ org: orgId, status: 'skip', reason: 'daily_limit', sent_today: todayRuns.length });\n    continue;\n  }\n\n  const remaining = Math.min(batchSize, dailyLimit - todayRuns.length, effectiveLimit - usedCount);\n  if (remaining <= 0) {\n    results.push({ org: orgId, status: 'skip', reason: 'no_remaining' });\n    continue;\n  }\n\n  // ── 4. WA credentials check ──\n  const orgRows = await sbGet(\n    'organizations?id=eq.' + orgId + '&select=channel_config,ai_persona&limit=1'\n  );\n  const orgConfig = (orgRows[0] && orgRows[0].channel_config) || {};\n  const waConfig = orgConfig.whatsapp || {};\n  const phoneNumberId = waConfig.phone_number_id;\n  const accessToken = waConfig.access_token;\n\n  const orgLang = (orgRows[0] && orgRows[0].ai_persona && orgRows[0].ai_persona.language) || 'tr';\n  const LANG_MAP = { en: 'en_US', de: 'de', tr: 'tr', ar: 'ar', fr: 'fr_FR' };\n  const templateLangCode = LANG_MAP[orgLang] || orgLang;\n\n  if (!phoneNumberId || !accessToken) {\n    results.push({ org: orgId, status: 'skip', reason: 'no_wa_credentials' });\n    continue;\n  }\n\n  // ── 5a. Hareketsiz lead'ler (inactive_days geçmiş) ──\n  const cutoff = daysAgo(inactiveDays);\n  const statusFilter = targetStatuses.map(s => s.trim()).join(',');\n  const inactiveLeads = await sbGet(\n    'leads?organization_id=eq.' + orgId +\n    '&status=in.(' + statusFilter + ')' +\n    '&updated_at=lte.' + cutoff +\n    '&select=id,contact_id' +\n    '&order=updated_at.asc' +\n    '&limit=' + (remaining * 3)\n  );\n\n  // ── 5b. Cold lead'ler (hiç konuşması yok — CRM/CSV import) ──\n  const coldCandidates = await sbGet(\n    'leads?organization_id=eq.' + orgId +\n    '&status=in.(' + statusFilter + ')' +\n    '&select=id,contact_id' +\n    '&order=created_at.asc' +\n    '&limit=' + (remaining * 3)\n  );\n\n  // Cold lead filtresi: hiç conversation'ı olmayan contact'lar\n  let coldLeads = [];\n  if (coldCandidates.length) {\n    const coldContactIds = [...new Set(coldCandidates.map(l => l.contact_id).filter(Boolean))];\n    if (coldContactIds.length) {\n      const existingConvos = await sbGet(\n        'conversations?organization_id=eq.' + orgId +\n        '&contact_id=in.(' + coldContactIds.join(',') + ')' +\n        '&select=contact_id'\n      );\n      const hasConvo = new Set(existingConvos.map(c => c.contact_id));\n      coldLeads = coldCandidates.filter(l => l.contact_id && !hasConvo.has(l.contact_id));\n    }\n  }\n\n  // ── 5c. Merge + dedup (inactive + cold) ──\n  const seen = new Set();\n  const allLeads = [];\n  for (const l of [...inactiveLeads, ...coldLeads]) {\n    if (l.contact_id && !seen.has(l.contact_id)) {\n      seen.add(l.contact_id);\n      allLeads.push(l);\n    }\n  }\n\n  if (!allLeads.length) {\n    results.push({ org: orgId, status: 'skip', reason: 'no_eligible_leads' });\n    continue;\n  }\n\n  // ── 6. Dedup: cooldown check ──\n  const allContactIds = allLeads.map(l => l.contact_id);\n  const cooldownCutoff = daysAgo(cooldownDays);\n  const recentRuns = await sbGet(\n    'workflow_runs?org_workflow_id=eq.' + wf.id +\n    '&contact_id=in.(' + allContactIds.join(',') + ')' +\n    '&status=eq.success' +\n    '&created_at=gte.' + cooldownCutoff +\n    '&select=contact_id'\n  );\n  const recentContactIds = new Set(recentRuns.map(r => r.contact_id));\n  const eligibleLeads = allLeads.filter(l => !recentContactIds.has(l.contact_id)).slice(0, remaining);\n\n  if (!eligibleLeads.length) {\n    results.push({ org: orgId, status: 'skip', reason: 'all_in_cooldown' });\n    continue;\n  }\n\n  // ── 7. Contact phone'ları ──\n  const batchContactIds = eligibleLeads.map(l => l.contact_id);\n  const contacts = await sbGet(\n    'contacts?id=in.(' + batchContactIds.join(',') + ')&select=id,phone,full_name'\n  );\n  const contactMap = {};\n  for (const c of contacts) contactMap[c.id] = c;\n\n  // ── 8. Template gönder ──\n  let sent = 0, failed = 0;\n\n  for (const lead of eligibleLeads) {\n    const contact = contactMap[lead.contact_id];\n    if (!contact || !contact.phone) { failed++; continue; }\n\n    const phone = contact.phone.replace(/^\\+/, '');\n\n    try {\n      const waRes = await fetch(\n        'https://graph.facebook.com/v21.0/' + phoneNumberId + '/messages',\n        {\n          method: 'POST',\n          headers: { 'Authorization': 'Bearer ' + accessToken, 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            messaging_product: 'whatsapp',\n            to: phone,\n            type: 'template',\n            template: { name: templateName, language: { code: templateLangCode } }\n          })\n        }\n      );\n\n      const waOk = waRes.ok;\n      await sbPost('workflow_runs', {\n        org_workflow_id: wf.id,\n        organization_id: orgId,\n        contact_id: lead.contact_id,\n        lead_id: lead.id,\n        status: waOk ? 'success' : 'failed',\n        result: waOk\n          ? { template: templateName, phone, source: seen.has(lead.contact_id) ? 'inactive' : 'cold_import' }\n          : { error: 'wa_send_failed', http_status: waRes.status }\n      });\n\n      if (waOk) {\n        sent++;\n        await sbRpc('increment_usage', { p_organization_id: orgId, p_metric: 'reactivation_lead_count', p_amount: 1 });\n      } else { failed++; }\n    } catch (err) {\n      failed++;\n      await sbPost('workflow_runs', {\n        org_workflow_id: wf.id, organization_id: orgId,\n        contact_id: lead.contact_id, lead_id: lead.id,\n        status: 'failed', result: { error: String(err) }\n      });\n    }\n  }\n\n  results.push({ org: orgId, status: 'done', sent, failed, eligible: eligibleLeads.length, batch: batchSize, cold: coldLeads.length });\n}\n\nreturn [{ json: { total_orgs: workflows.length, results } }];"
      }
    }

  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[ { "node": "Config", "type": "main", "index": 0 } ]]
    },
    "Config": {
      "main": [[ { "node": "Drip Processor", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "stoaix-platform" }
  ]
}
