n8n-workflows/WF_drip_reactivation.json
{
  "name": "stoaix — SCHED Drip Reactivation",
  "nodes": [
    {
      "id": "dr01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      }
    },
    {
      "id": "dr02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url", "name": "SUPABASE_URL", "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co", "type": "string" },
            { "id": "cfg_sb_key", "name": "SUPABASE_SERVICE_KEY", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dr03",
      "name": "Drip Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "const SB_URL = $('Config').first().json.SUPABASE_URL;\nconst SB_KEY = $('Config').first().json.SUPABASE_SERVICE_KEY;\nconst _h = this.helpers;\n\nasync function sbGet(path) {\n  try {\n    const res = await _h.httpRequest({ method: 'GET', url: SB_URL + '/rest/v1/' + path, headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY }, json: true });\n    return Array.isArray(res) ? res : [];\n  } catch(e) { return []; }\n}\n\nasync function sbPost(path, body) {\n  try {\n    await _h.httpRequest({ method: 'POST', url: SB_URL + '/rest/v1/' + path, headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json', Prefer: 'return=minimal' }, body: JSON.stringify(body) });\n    return true;\n  } catch(e) { return false; }\n}\n\nasync function sbPostReturn(path, body) {\n  try {\n    const res = await _h.httpRequest({ method: 'POST', url: SB_URL + '/rest/v1/' + path, headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json', Prefer: 'return=representation' }, body: JSON.stringify(body) });\n    return Array.isArray(res) ? res[0] : res;\n  } catch(e) { return null; }\n}\n\nasync function sbPatch(path, body) {\n  try {\n    await _h.httpRequest({ method: 'PATCH', url: SB_URL + '/rest/v1/' + path, headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json', Prefer: 'return=minimal' }, body: JSON.stringify(body) });\n    return true;\n  } catch(e) { return false; }\n}\n\nasync function sbRpc(fn, params) {\n  try {\n    await _h.httpRequest({ method: 'POST', url: SB_URL + '/rest/v1/rpc/' + fn, headers: { apikey: SB_KEY, Authorization: 'Bearer ' + SB_KEY, 'Content-Type': 'application/json' }, body: JSON.stringify(params) });\n    return true;\n  } catch(e) { return false; }\n}\n\nasync function ensureConversation(orgId, contactId) {\n  const existing = await sbGet('conversations?organization_id=eq.' + orgId + '&contact_id=eq.' + contactId + '&channel=eq.reactivation&select=id&limit=1');\n  if (existing.length) return existing[0].id;\n  const row = await sbPostReturn('conversations', { organization_id: orgId, contact_id: contactId, channel: 'reactivation', mode: 'ai', status: 'active', started_at: new Date().toISOString() });\n  return row ? row.id : null;\n}\n\nasync function logMessage(conversationId, orgId, content) {\n  if (!conversationId) return;\n  await sbPost('messages', { conversation_id: conversationId, organization_id: orgId, role: 'assistant', content, content_type: 'text', created_at: new Date().toISOString() });\n}\n\nasync function waSend(phoneNumberId, accessToken, payload) {\n  await _h.httpRequest({ method: 'POST', url: 'https://graph.facebook.com/v21.0/' + phoneNumberId + '/messages', headers: { Authorization: 'Bearer ' + accessToken, 'Content-Type': 'application/json' }, body: JSON.stringify(payload) });\n}\n\nfunction todayStr() { return new Date().toISOString().slice(0, 10); }\nfunction daysAgo(n) { const d = new Date(); d.setDate(d.getDate() - n); return d.toISOString(); }\nfunction billingPeriod() { const d = new Date(); return d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0'); }\nfunction getOrgHour(tz) { try { return parseInt(new Intl.DateTimeFormat('en-US', { hour: 'numeric', hour12: false, timeZone: tz }).format(new Date()), 10); } catch { return new Date().getUTCHours() + 3; } }\nfunction parseHour(t) { return parseInt((t || '09:00').split(':')[0], 10); }\n\nconst workflows = await sbGet('org_workflows?template_id=eq.reactivation_chat&is_active=eq.true&select=id,organization_id,config');\n\nif (!workflows.length) {\n  return [{ json: { processed: 0, message: 'No active reactivation workflows' } }];\n}\n\nconst results = [];\n\nfor (const wf of workflows) {\n  const orgId = wf.organization_id;\n  const cfg = wf.config || {};\n  const inactiveDays   = Math.max(cfg.inactive_days || 30, 30);\n  const cooldownDays   = cfg.cooldown_days || 30;\n  const dailyLimit     = cfg.daily_limit || 50;\n  const timezone       = cfg.timezone || 'Europe/Istanbul';\n  const whStart        = parseHour(cfg.working_hours_start || '09:00');\n  const whEnd          = parseHour(cfg.working_hours_end || '17:00');\n  const targetStatuses = (cfg.target_statuses || 'lost,new,in_progress').split(',');\n\n  const sequence = cfg.sequence || [];\n  const step1Template   = sequence.length > 0 ? sequence[0].template : (cfg.message_template || '');\n  const step1ParamCount = sequence.length > 0 ? (sequence[0].param_count || 0) : (Number(cfg.template_param_count) || 0);\n  const maxStep = sequence.length > 0 ? sequence.length : 1;\n\n  const orgHour = getOrgHour(timezone);\n  if (orgHour < whStart || orgHour >= whEnd) {\n    results.push({ org: orgId, status: 'skip', reason: 'outside_working_hours', orgHour, window: whStart + '-' + whEnd });\n    continue;\n  }\n\n  if (!step1Template) { results.push({ org: orgId, status: 'skip', reason: 'no_template' }); continue; }\n\n  const batchSize = Math.max(1, Math.ceil(dailyLimit / ((whEnd - whStart) * 2)));\n\n  const period = billingPeriod();\n  const usage = await sbGet('usage_counters?organization_id=eq.' + orgId + '&metric=eq.reactivation_lead_count&billing_period=eq.' + period + '&select=value&limit=1');\n  const usedCount = (usage[0] && usage[0].value) || 0;\n\n  const subRows = await sbGet('org_subscriptions?organization_id=eq.' + orgId + '&select=plan_id&limit=1');\n  const planId = (subRows[0] && subRows[0].plan_id) || 'legacy';\n  let effectiveLimit = 999999;\n  if (planId !== 'legacy') {\n    const entRows = await sbGet('plan_entitlements?plan_id=eq.' + planId + '&feature_key=eq.workflow_reactivation&select=limit_value&limit=1');\n    const planLimit = (entRows[0] && entRows[0].limit_value) || 0;\n    const ovr = await sbGet('org_entitlement_overrides?organization_id=eq.' + orgId + '&feature_key=eq.workflow_reactivation&select=limit_override&limit=1');\n    effectiveLimit = (ovr[0] && ovr[0].limit_override) || planLimit;\n  }\n  if (usedCount >= effectiveLimit) { results.push({ org: orgId, status: 'skip', reason: 'quota_exceeded', used: usedCount, limit: effectiveLimit }); continue; }\n\n  const todayRuns = await sbGet('workflow_runs?org_workflow_id=eq.' + wf.id + '&status=eq.success&created_at=gte.' + todayStr() + 'T00:00:00Z&select=id&limit=' + (dailyLimit + 1));\n  if (todayRuns.length >= dailyLimit) { results.push({ org: orgId, status: 'skip', reason: 'daily_limit', sent_today: todayRuns.length }); continue; }\n\n  let remaining = Math.min(batchSize, dailyLimit - todayRuns.length, effectiveLimit - usedCount);\n  if (remaining <= 0) { results.push({ org: orgId, status: 'skip', reason: 'no_remaining' }); continue; }\n\n  const orgRows = await sbGet('organizations?id=eq.' + orgId + '&select=channel_config,ai_persona&limit=1');\n  const orgConfig = (orgRows[0] && orgRows[0].channel_config) || {};\n  const waConfig = orgConfig.whatsapp || {};\n  const creds = waConfig.credentials || {};\n  const phoneNumberId = creds.phone_number_id || waConfig.phone_number_id;\n  const accessToken = creds.access_token || waConfig.access_token;\n  const orgLang = (orgRows[0] && orgRows[0].ai_persona && orgRows[0].ai_persona.language) || 'tr';\n  const LANG_MAP = { en: 'en_US', de: 'de', tr: 'tr', ar: 'ar', fr: 'fr_FR' };\n  const templateLangCode = LANG_MAP[orgLang] || orgLang;\n\n  if (!phoneNumberId || !accessToken) { results.push({ org: orgId, status: 'skip', reason: 'no_wa_credentials' }); continue; }\n\n  function buildTpl(phone, tplName, tplParamCount, contactName) {\n    const p = { messaging_product: 'whatsapp', to: phone, type: 'template', template: { name: tplName, language: { code: templateLangCode } } };\n    if (tplParamCount >= 1) { p.template.components = [{ type: 'body', parameters: [{ type: 'text', text: contactName || (orgLang === 'de' ? 'Geschätzter Kunde' : 'Değerli müşterimiz') }] }]; }\n    return p;\n  }\n\n  let totalSent = 0, totalFailed = 0;\n  const stepStats = {};\n\n  // ═══ PHASE A — Step 1 ═══\n  const cutoff = daysAgo(inactiveDays);\n  const sf = targetStatuses.map(s => s.trim()).join(',');\n  const inactiveLeads = await sbGet('leads?organization_id=eq.' + orgId + '&status=in.(' + sf + ')&updated_at=lte.' + cutoff + '&select=id,contact_id&order=updated_at.asc&limit=' + (remaining * 3));\n  const coldCandidates = await sbGet('leads?organization_id=eq.' + orgId + '&status=in.(' + sf + ')&select=id,contact_id&order=created_at.asc&limit=' + (remaining * 3));\n\n  let coldLeads = [];\n  if (coldCandidates.length) {\n    const cIds = [...new Set(coldCandidates.map(l => l.contact_id).filter(Boolean))];\n    if (cIds.length) {\n      const ec = await sbGet('conversations?organization_id=eq.' + orgId + '&contact_id=in.(' + cIds.join(',') + ')&select=contact_id');\n      const hc = new Set(ec.map(c => c.contact_id));\n      coldLeads = coldCandidates.filter(l => l.contact_id && !hc.has(l.contact_id));\n    }\n  }\n\n  const seen = new Set();\n  const allLeads = [];\n  for (const l of [...inactiveLeads, ...coldLeads]) { if (l.contact_id && !seen.has(l.contact_id)) { seen.add(l.contact_id); allLeads.push(l); } }\n\n  let s1Sent = 0, s1Fail = 0;\n  if (allLeads.length > 0) {\n    const aIds = allLeads.map(l => l.contact_id);\n    const rr = await sbGet('workflow_runs?org_workflow_id=eq.' + wf.id + '&contact_id=in.(' + aIds.join(',') + ')&status=eq.success&created_at=gte.' + daysAgo(cooldownDays) + '&select=contact_id');\n    const recentSet = new Set(rr.map(r => r.contact_id));\n\n    let compSet = new Set();\n    if (maxStep > 1) {\n      const cr = await sbGet('workflow_runs?org_workflow_id=eq.' + wf.id + '&sequence_step=eq.' + maxStep + '&status=eq.success&contact_id=in.(' + aIds.join(',') + ')&select=contact_id');\n      compSet = new Set(cr.map(r => r.contact_id));\n    }\n\n    const eligible = allLeads.filter(l => !recentSet.has(l.contact_id) && !compSet.has(l.contact_id)).slice(0, remaining);\n\n    if (eligible.length > 0) {\n      const bIds = eligible.map(l => l.contact_id);\n      const contacts = await sbGet('contacts?id=in.(' + bIds.join(',') + ')&select=id,phone,full_name');\n      const cm = {}; for (const c of contacts) cm[c.id] = c;\n\n      for (const lead of eligible) {\n        if (remaining <= 0) break;\n        const ct = cm[lead.contact_id];\n        if (!ct || !ct.phone) { s1Fail++; totalFailed++; continue; }\n        const phone = ct.phone.replace(/^\\+/, '');\n        try {\n          await waSend(phoneNumberId, accessToken, buildTpl(phone, step1Template, step1ParamCount, ct.full_name));\n          await sbPost('workflow_runs', { org_workflow_id: wf.id, organization_id: orgId, contact_id: lead.contact_id, trigger_type: 'contact_inactive', status: 'success', sequence_step: 1, result: { template: step1Template, phone, lead_id: lead.id, step: 1 } });\n          const convId = await ensureConversation(orgId, lead.contact_id);\n          await logMessage(convId, orgId, '\\ud83d\\udce4 Step 1/' + maxStep + ' \\u2014 ' + step1Template);\n          s1Sent++; totalSent++; remaining--;\n          await sbPatch('leads?contact_id=eq.' + lead.contact_id + '&organization_id=eq.' + orgId + '&status=in.(new,in_progress,lost)', { status: 'nurturing', updated_at: new Date().toISOString() });\n          await sbRpc('increment_usage', { p_org_id: orgId, p_period: billingPeriod(), p_metric: 'reactivation_lead_count', p_amount: 1 });\n        } catch (err) {\n          s1Fail++; totalFailed++;\n          await sbPost('workflow_runs', { org_workflow_id: wf.id, organization_id: orgId, contact_id: lead.contact_id, trigger_type: 'contact_inactive', status: 'failed', sequence_step: 1, result: { error: String(err), lead_id: lead.id, step: 1 } });\n        }\n      }\n    }\n  }\n  stepStats.step1 = { sent: s1Sent, failed: s1Fail };\n\n  // ═══ PHASE B — Steps 2..maxStep ═══\n  if (maxStep > 1 && remaining > 0) {\n    for (let sn = 2; sn <= maxStep; sn++) {\n      if (remaining <= 0) break;\n      const sc = sequence[sn - 1]; if (!sc) break;\n      const st = sc.template || '', sp = sc.param_count || 0, dd = sc.delay_days || 0;\n      if (!st || st.startsWith('TBD')) { stepStats['step' + sn] = { sent: 0, skipped: true, reason: 'tbd_template' }; continue; }\n\n      const prev = await sbGet('workflow_runs?org_workflow_id=eq.' + wf.id + '&sequence_step=eq.' + (sn - 1) + '&status=eq.success&created_at=lte.' + daysAgo(dd) + '&select=contact_id');\n      if (!prev.length) { stepStats['step' + sn] = { sent: 0, reason: 'no_prev_step_eligible' }; continue; }\n      const pIds = [...new Set(prev.map(r => r.contact_id))];\n\n      const already = await sbGet('workflow_runs?org_workflow_id=eq.' + wf.id + '&sequence_step=eq.' + sn + '&contact_id=in.(' + pIds.join(',') + ')&select=contact_id');\n      const alreadySet = new Set(already.map(r => r.contact_id));\n      const convos = await sbGet('conversations?organization_id=eq.' + orgId + '&contact_id=in.(' + pIds.join(',') + ')&select=contact_id');\n      const replySet = new Set(convos.map(c => c.contact_id));\n      const blocked = await sbGet('leads?organization_id=eq.' + orgId + '&contact_id=in.(' + pIds.join(',') + ')&status=in.(handed_off,converted)&select=contact_id');\n      const blockSet = new Set(blocked.map(l => l.contact_id));\n\n      const elig = pIds.filter(c => !alreadySet.has(c) && !replySet.has(c) && !blockSet.has(c)).slice(0, remaining);\n      if (!elig.length) { stepStats['step' + sn] = { sent: 0, skipped_already: alreadySet.size, skipped_reply: replySet.size, skipped_blocked: blockSet.size }; continue; }\n\n      const cts = await sbGet('contacts?id=in.(' + elig.join(',') + ')&select=id,phone,full_name');\n      const cMap = {}; for (const c of cts) cMap[c.id] = c;\n      let sSent = 0, sFail = 0;\n      for (const cid of elig) {\n        if (remaining <= 0) break;\n        const ct = cMap[cid]; if (!ct || !ct.phone) { sFail++; totalFailed++; continue; }\n        const phone = ct.phone.replace(/^\\+/, '');\n        try {\n          await waSend(phoneNumberId, accessToken, buildTpl(phone, st, sp, ct.full_name));\n          await sbPost('workflow_runs', { org_workflow_id: wf.id, organization_id: orgId, contact_id: cid, trigger_type: 'contact_inactive', status: 'success', sequence_step: sn, result: { template: st, phone, step: sn } });\n          const convId = await ensureConversation(orgId, cid);\n          await logMessage(convId, orgId, '\\ud83d\\udce4 Step ' + sn + '/' + maxStep + ' \\u2014 ' + st);\n          sSent++; totalSent++; remaining--;\n          await sbRpc('increment_usage', { p_org_id: orgId, p_period: billingPeriod(), p_metric: 'reactivation_lead_count', p_amount: 1 });\n        } catch (err) {\n          sFail++; totalFailed++;\n          await sbPost('workflow_runs', { org_workflow_id: wf.id, organization_id: orgId, contact_id: cid, trigger_type: 'contact_inactive', status: 'failed', sequence_step: sn, result: { error: String(err), step: sn } });\n        }\n      }\n      stepStats['step' + sn] = { sent: sSent, failed: sFail, skipped_reply: replySet.size, skipped_complete: alreadySet.size, skipped_blocked: blockSet.size };\n    }\n  }\n\n  results.push({ org: orgId, status: 'done', sent: totalSent, failed: totalFailed, steps: stepStats, maxStep, batch: batchSize });\n}\n\nreturn [{ json: { total_orgs: workflows.length, results } }];\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Drip Processor", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "stoaix-platform" }]
}
