n8n-workflows/WF_outbound_voice.json
{
  "name": "stoaix Platform — Outbound Voice Calls",
  "nodes": [

    {
      "id": "n01",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      }
    },

    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url",  "name": "SUPABASE_URL",           "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",          "type": "string" },
            { "id": "cfg_sb_key",  "name": "SUPABASE_SERVICE_KEY",   "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",                    "type": "string" },
            { "id": "cfg_lk_url",  "name": "LIVEKIT_HTTP_URL",       "value": "https://stoaix-platform-79ln8on8.livekit.cloud",    "type": "string" },
            { "id": "cfg_lk_key",  "name": "LIVEKIT_API_KEY",        "value": "YOUR_LIVEKIT_API_KEY",                              "type": "string" },
            { "id": "cfg_lk_sec",  "name": "LIVEKIT_API_SECRET",     "value": "YOUR_LIVEKIT_API_SECRET",                          "type": "string" },
            { "id": "cfg_trunk",   "name": "LIVEKIT_SIP_TRUNK_ID",   "value": "YOUR_SIP_TRUNK_ID",                                 "type": "string" },
            { "id": "cfg_agent",   "name": "LIVEKIT_AGENT_NAME",     "value": "stoaix-platform",                                   "type": "string" },
            { "id": "cfg_tz_off",  "name": "TZ_OFFSET_HOURS",        "value": "3",                                                 "type": "string" },
            { "id": "cfg_hr_s",    "name": "BUSINESS_HOUR_START",    "value": "9",                                                 "type": "string" },
            { "id": "cfg_hr_e",    "name": "BUSINESS_HOUR_END",      "value": "19",                                                "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "n03",
      "name": "Get Pending Voice Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/follow_up_tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status",   "value": "eq.pending" },
            { "name": "channel",  "value": "eq.voice" },
            { "name": "scheduled_at", "value": "=lte.{{ new Date().toISOString() }}" },
            { "name": "or",       "value": "=(window_expires_at.is.null,window_expires_at.gt.{{ new Date().toISOString() }})" },
            {
              "name": "select",
              "value": "id,organization_id,lead_id,contact_id,task_type,sequence_stage,variables,organizations!organization_id(id,name,ai_persona,working_hours,channel_config),contacts!contact_id(id,phone,channel_identifiers),leads!lead_id(id,status,collected_data)"
            },
            { "name": "limit", "value": "20" }
          ]
        }
      }
    },

    {
      "id": "n04",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "const tasks = $input.first().json;\nif (!Array.isArray(tasks) || tasks.length === 0) return [];\nreturn tasks.map(t => ({ json: t }));"
      }
    },

    {
      "id": "n05",
      "name": "Business Hours?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300],
      "parameters": {
        "jsCode": "// Mesai saati kontrolü — Istanbul (UTC+3)\nconst cfg   = $('Config').first().json;\nconst task  = $input.first().json;\nconst tzOff = parseInt(cfg.TZ_OFFSET_HOURS, 10);\nconst hStart = parseInt(cfg.BUSINESS_HOUR_START, 10);\nconst hEnd   = parseInt(cfg.BUSINESS_HOUR_END, 10);\n\nconst nowUtc  = new Date();\nconst nowLocal = new Date(nowUtc.getTime() + tzOff * 3600 * 1000);\nconst hour     = nowLocal.getUTCHours();\nconst day      = nowLocal.getUTCDay(); // 0=Sun, 6=Sat\n\n// Hafta sonu arama yok (opsiyonel: kaldırılabilir)\nif (day === 0) return []; // Pazar\n\n// Mesai dışı\nif (hour < hStart || hour >= hEnd) return [];\n\n// Org'un kendi working_hours'ı varsa override et\nconst wh = task.organizations?.working_hours;\nif (wh) {\n  const dayNames = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\n  const todayKey = dayNames[day];\n  // working_hours: { weekdays: '09:30-19:00', saturday: '10:00-17:00', sunday: null }\n  const todayRange = wh[todayKey] ?? wh['weekdays'];\n  if (!todayRange) return []; // today is off\n  const [startStr, endStr] = todayRange.split('-');\n  const [sh, sm] = startStr.split(':').map(Number);\n  const [eh, em] = endStr.split(':').map(Number);\n  const nowMins = nowLocal.getUTCHours() * 60 + nowLocal.getUTCMinutes();\n  const startMins = sh * 60 + sm;\n  const endMins   = eh * 60 + em;\n  if (nowMins < startMins || nowMins >= endMins) return [];\n}\n\nreturn [{ json: task }];"
      }
    },

    {
      "id": "n06",
      "name": "Lead Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1260, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.leads?.status }}", "rightValue": "converted",          "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "c2", "leftValue": "={{ $json.leads?.status }}", "rightValue": "won",                "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "c3", "leftValue": "={{ $json.leads?.status }}", "rightValue": "lost",               "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "c4", "leftValue": "={{ $json.leads?.status }}", "rightValue": "appointment_booked", "operator": { "type": "string", "operation": "notEquals" } }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n07",
      "name": "Cancel Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 460],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/follow_up_tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.id }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"cancelled\" }"
      }
    },

    {
      "id": "n08",
      "name": "Build JWT + Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 160],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst cfg  = $('Config').first().json;\nconst task = $input.first().json;\n\n// ── Per-org SIP trunk (OrgSettingsModal → channel_config.voice_outbound) ──\nconst voiceOut       = task.organizations?.channel_config?.voice_outbound ?? {};\nconst trunkId        = voiceOut.livekit_sip_outbound_trunk_id || cfg.LIVEKIT_SIP_TRUNK_ID;\nconst outboundNumber = voiceOut.from_number || '';\n\nif (!trunkId) {\n  console.error(`No SIP trunk configured for org: ${task.organization_id}`);\n  return [];  // trunk yoksa bu org'u atla\n}\n\n// ── LiveKit JWT imzala ──────────────────────────────────────────\nfunction base64url(str) {\n  return Buffer.from(str).toString('base64')\n    .replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header  = base64url(JSON.stringify({ alg: 'HS256', typ: 'JWT' }));\nconst claims  = base64url(JSON.stringify({\n  iss: cfg.LIVEKIT_API_KEY,\n  sub: 'n8n-outbound-dispatcher',\n  exp: now + 600,\n  nbf: now,\n  video: { roomCreate: true, roomAdmin: true },\n  sip:   { admin: true, call: true },\n}));\nconst sig = crypto.createHmac('sha256', cfg.LIVEKIT_API_SECRET)\n  .update(`${header}.${claims}`)\n  .digest('base64url');\nconst jwt = `${header}.${claims}.${sig}`;\n\n// ── Çağrı meta verisi ──────────────────────────────────────────\nconst phone = task.contacts?.phone\n  || task.contacts?.channel_identifiers?.phone\n  || null;\n\nif (!phone) {\n  console.error(`No phone for contact: ${task.contact_id}`);\n  return [];  // telefon yoksa atla\n}\n\nconst contactName = task.leads?.collected_data?.full_name\n  || task.leads?.collected_data?.first_name\n  || '';\n\nconst scenario = task.task_type || 'voice_followup';\nconst roomName = `call-${task.id}`;\n\nconst agentMetadata = JSON.stringify({\n  organization_id:  task.organization_id,\n  scenario,\n  contact_id:       task.contact_id  || null,\n  lead_id:          task.lead_id     || null,\n  phone_to:         phone,\n  contact_name:     contactName,\n  appointment_time: task.variables?.appointment_time || null,\n  reminder_hours:   task.sequence_stage === 'appointment_reminder_2h' ? '2' : '24',\n});\n\nreturn [{ json: {\n  ...task,\n  jwt,\n  trunk_id:        trunkId,\n  outbound_number: outboundNumber,\n  room_name:       roomName,\n  phone,\n  contact_name:    contactName,\n  scenario,\n  agent_metadata:  agentMetadata,\n} }];"
      }
    },

    {
      "id": "n09",
      "name": "Create LiveKit Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.RoomService/CreateRoom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\":              \"{{ $json.room_name }}\",\n  \"metadata\":          \"{{ $json.agent_metadata.replace(/\"/g, '\\\\\"') }}\",\n  \"empty_timeout\":     120,\n  \"departure_timeout\": 10\n}"
      }
    },

    {
      "id": "n10",
      "name": "Dispatch Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.AgentDispatchService/CreateDispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Build JWT + Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_name\": \"{{ $('Config').first().json.LIVEKIT_AGENT_NAME }}\",\n  \"room\":       \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"metadata\":   \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },

    {
      "id": "n11",
      "name": "Initiate SIP Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2120, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.SIP/CreateSIPParticipant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Build JWT + Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"sip_trunk_id\":          \"{{ $('Build JWT + Payload').item.json.trunk_id }}\",\n  \"sip_call_to\":           \"{{ $('Build JWT + Payload').item.json.phone }}\",\n  \"room_name\":             \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"participant_identity\":  \"sip-{{ $('Build JWT + Payload').item.json.phone.replace(/\\\\+/g, '') }}\",\n  \"participant_name\":      \"{{ $('Build JWT + Payload').item.json.contact_name }}\",\n  \"participant_metadata\":  \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },

    {
      "id": "n12",
      "name": "Mark Task Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 160],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/follow_up_tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Build JWT + Payload').item.json.id }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\":       \"sent\",\n  \"sent_at\":      \"{{ new Date().toISOString() }}\",\n  \"sent_message\": \"voice:{{ $('Build JWT + Payload').item.json.room_name }}\"\n}"
      }
    }

  ],

  "connections": {
    "Schedule": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Get Pending Voice Tasks", "type": "main", "index": 0 }]]
    },
    "Get Pending Voice Tasks": {
      "main": [[{ "node": "Split Tasks", "type": "main", "index": 0 }]]
    },
    "Split Tasks": {
      "main": [[{ "node": "Business Hours?", "type": "main", "index": 0 }]]
    },
    "Business Hours?": {
      "main": [[{ "node": "Lead Active?", "type": "main", "index": 0 }]]
    },
    "Lead Active?": {
      "main": [
        [{ "node": "Build JWT + Payload", "type": "main", "index": 0 }],
        [{ "node": "Cancel Task",         "type": "main", "index": 0 }]
      ]
    },
    "Build JWT + Payload": {
      "main": [[{ "node": "Create LiveKit Room", "type": "main", "index": 0 }]]
    },
    "Create LiveKit Room": {
      "main": [[{ "node": "Dispatch Agent", "type": "main", "index": 0 }]]
    },
    "Dispatch Agent": {
      "main": [[{ "node": "Initiate SIP Call", "type": "main", "index": 0 }]]
    },
    "Initiate SIP Call": {
      "main": [[{ "node": "Mark Task Sent", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": { "instanceId": "stoaix-platform" }
}
