n8n-workflows/WF_satisfaction_survey_voice.json
{
  "name": "stoaix — V8 Satisfaction Survey Voice",
  "nodes": [

    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "satisfaction-survey-voice",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "v8-satisfaction-survey-voice"
    },

    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url",  "name": "SUPABASE_URL",          "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",       "type": "string" },
            { "id": "cfg_sb_key",  "name": "SUPABASE_SERVICE_KEY",  "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",                 "type": "string" },
            { "id": "cfg_lk_url",  "name": "LIVEKIT_HTTP_URL",      "value": "https://stoaix-platform-79ln8on8.livekit.cloud", "type": "string" },
            { "id": "cfg_lk_key",  "name": "LIVEKIT_API_KEY",       "value": "YOUR_LIVEKIT_API_KEY",                           "type": "string" },
            { "id": "cfg_lk_sec",  "name": "LIVEKIT_API_SECRET",    "value": "YOUR_LIVEKIT_API_SECRET",                       "type": "string" },
            { "id": "cfg_agent",   "name": "LIVEKIT_AGENT_NAME",    "value": "stoaix-platform",                                "type": "string" },
            { "id": "cfg_tz",      "name": "TZ_OFFSET_HOURS",       "value": "3",                                              "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "n03",
      "name": "Wait Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [640, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": "={{ $('Webhook').item.json.config?.delay_hours ?? 24 }}"
      },
      "webhookId": "v8-wait-delay"
    },

    {
      "id": "n04",
      "name": "Working Hours?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "const cfg     = $('Config').first().json;\nconst payload = $('Webhook').item.json;\nconst cfg2    = payload.config || {};\n\nconst tzOff  = parseInt(cfg.TZ_OFFSET_HOURS, 10);\nconst hStart = cfg2.working_hours_start ? parseInt(cfg2.working_hours_start.split(':')[0], 10) : 9;\nconst hEnd   = cfg2.working_hours_end   ? parseInt(cfg2.working_hours_end.split(':')[0],   10) : 19;\n\nconst nowUtc   = new Date();\nconst nowLocal = new Date(nowUtc.getTime() + tzOff * 3600 * 1000);\nconst hour     = nowLocal.getUTCHours();\nconst day      = nowLocal.getUTCDay();\n\nif (day === 0) return [];\nif (hour < hStart || hour >= hEnd) return [];\n\nreturn [{ json: payload }];"
      }
    },

    {
      "id": "n05",
      "name": "Fetch Org SIP Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id",     "value": "=eq.{{ $('Webhook').item.json.org_id }}" },
            { "name": "select", "value": "id,name,channel_config,ai_persona" },
            { "name": "limit",  "value": "1" }
          ]
        }
      }
    },

    {
      "id": "n06",
      "name": "Build JWT + Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "const crypto  = require('crypto');\nconst cfg     = $('Config').first().json;\nconst payload = $('Webhook').item.json;\nconst orgArr  = $('Fetch Org SIP Config').all();\nconst org     = orgArr[0]?.json ?? {};\n\nconst voiceOut   = org.channel_config?.voice_outbound ?? {};\nconst trunkId    = voiceOut.livekit_sip_outbound_trunk_id;\nconst fromNumber = voiceOut.from_number || '';\n\nif (!trunkId) {\n  console.error('No SIP trunk for org: ' + payload.org_id);\n  return [];\n}\n\nif (!payload.phone) {\n  console.error('No phone in payload');\n  return [];\n}\n\nfunction base64url(s) {\n  return Buffer.from(s).toString('base64')\n    .replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n}\nconst now    = Math.floor(Date.now() / 1000);\nconst header = base64url(JSON.stringify({ alg:'HS256', typ:'JWT' }));\nconst claims = base64url(JSON.stringify({\n  iss: cfg.LIVEKIT_API_KEY,\n  sub: 'n8n-outbound-v8',\n  exp: now + 600,\n  nbf: now,\n  video: { roomCreate: true, roomAdmin: true },\n  sip:   { admin: true, call: true },\n}));\nconst sig = crypto.createHmac('sha256', cfg.LIVEKIT_API_SECRET)\n  .update(header + '.' + claims).digest('base64url');\nconst jwt = header + '.' + claims + '.' + sig;\n\nconst roomName    = 'wf-' + payload.run_id.replace(/-/g,'').slice(0, 12);\nconst contactName = payload.contact_data?.name || '';\n\nconst agentMetadata = JSON.stringify({\n  organization_id: payload.org_id,\n  scenario:        'satisfaction_survey',\n  contact_id:      payload.contact_data?.contact_id || null,\n  lead_id:         payload.contact_data?.lead_id || null,\n  appointment_id:  payload.contact_data?.appointment_id || null,\n  phone_to:        payload.phone,\n  contact_name:    contactName,\n  run_id:          payload.run_id,\n  callback_url:    payload.callback_url,\n});\n\nreturn [{ json: {\n  jwt,\n  trunk_id:       trunkId,\n  from_number:    fromNumber,\n  room_name:      roomName,\n  phone:          payload.phone,\n  contact_name:   contactName,\n  run_id:         payload.run_id,\n  callback_url:   payload.callback_url,\n  agent_metadata: agentMetadata,\n} }];"
      }
    },

    {
      "id": "n07",
      "name": "Create LiveKit Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.RoomService/CreateRoom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"name\":              \"{{ $json.room_name }}\",\n  \"metadata\":          \"{{ $json.agent_metadata.replace(/\"/g, '\\\\\"') }}\",\n  \"empty_timeout\":     120,\n  \"departure_timeout\": 10\n}"
      }
    },

    {
      "id": "n08",
      "name": "Dispatch Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.AgentDispatchService/CreateDispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Build JWT + Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"agent_name\": \"{{ $('Config').first().json.LIVEKIT_AGENT_NAME }}\",\n  \"room\":       \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"metadata\":   \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },

    {
      "id": "n09",
      "name": "Initiate SIP Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.SIP/CreateSIPParticipant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Build JWT + Payload').item.json.jwt }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"sip_trunk_id\":         \"{{ $('Build JWT + Payload').item.json.trunk_id }}\",\n  \"sip_call_to\":          \"{{ $('Build JWT + Payload').item.json.phone }}\",\n  \"room_name\":            \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"participant_identity\": \"sip-{{ $('Build JWT + Payload').item.json.phone.replace(/\\\\+/g,'') }}\",\n  \"participant_name\":     \"{{ $('Build JWT + Payload').item.json.contact_name }}\",\n  \"participant_metadata\": \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    }

  ],

  "connections": {
    "Webhook":              { "main": [[{ "node": "Config",               "type": "main", "index": 0 }]] },
    "Config":               { "main": [[{ "node": "Wait Delay",           "type": "main", "index": 0 }]] },
    "Wait Delay":           { "main": [[{ "node": "Working Hours?",       "type": "main", "index": 0 }]] },
    "Working Hours?":       { "main": [[{ "node": "Fetch Org SIP Config", "type": "main", "index": 0 }]] },
    "Fetch Org SIP Config": { "main": [[{ "node": "Build JWT + Payload",  "type": "main", "index": 0 }]] },
    "Build JWT + Payload":  { "main": [[{ "node": "Create LiveKit Room",  "type": "main", "index": 0 }]] },
    "Create LiveKit Room":  { "main": [[{ "node": "Dispatch Agent",       "type": "main", "index": 0 }]] },
    "Dispatch Agent":       { "main": [[{ "node": "Initiate SIP Call",    "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "pinData": {},
  "meta": { "instanceId": "stoaix-platform" },
  "notes": "V8 Satisfaction Survey Voice. Triggered by post_appointment event (T+24h via wait node). scenario=satisfaction_survey. Agent calls save_survey_result() tool to store score. Callback by agent.py."
}
