n8n-workflows/WF_satisfaction_survey_voice.json
{
  "name": "stoaix — V8 Satisfaction Survey Voice",
  "nodes": [
    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "satisfaction-survey-voice",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "v8-satisfaction-survey-voice"
    },
    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg_sb_url",
              "name": "SUPABASE_URL",
              "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg_sb_key",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "cfg_lk_url",
              "name": "LIVEKIT_HTTP_URL",
              "value": "https://stoaix-platform-79ln8on8.livekit.cloud",
              "type": "string"
            },
            {
              "id": "cfg_lk_key",
              "name": "LIVEKIT_API_KEY",
              "value": "YOUR_LIVEKIT_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg_lk_sec",
              "name": "LIVEKIT_API_SECRET",
              "value": "YOUR_LIVEKIT_API_SECRET",
              "type": "string"
            },
            {
              "id": "cfg_agent",
              "name": "LIVEKIT_AGENT_NAME",
              "value": "stoaix-platform",
              "type": "string"
            },
            {
              "id": "cfg_tz",
              "name": "TZ_OFFSET_HOURS",
              "value": "3",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n03",
      "name": "Wait Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": "={{ $('Webhook').first().json.body.config?.delay_hours ?? 24 }}"
      },
      "webhookId": "v8-wait-delay"
    },
    {
      "id": "n04",
      "name": "Working Hours?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const cfg     = $('Config').first().json;\nconst payload = $('Webhook').first().json.body;\nconst cfg2    = payload.config || {};\n\nconst tzOff  = parseInt(cfg.TZ_OFFSET_HOURS, 10);\nconst hStart = cfg2.working_hours_start ? parseInt(cfg2.working_hours_start.split(':')[0], 10) : 9;\nconst hEnd   = cfg2.working_hours_end   ? parseInt(cfg2.working_hours_end.split(':')[0],   10) : 19;\n\nconst nowUtc   = new Date();\nconst nowLocal = new Date(nowUtc.getTime() + tzOff * 3600 * 1000);\nconst hour     = nowLocal.getUTCHours();\nconst day      = nowLocal.getUTCDay();\n\nif (day === 0) return [];\nif (hour < hStart || hour >= hEnd) return [];\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "n05",
      "name": "Fetch Org SIP Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Webhook').first().json.body.org_id }}"
            },
            {
              "name": "select",
              "value": "id,name,channel_config,ai_persona"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        }
      }
    },
    {
      "id": "n06",
      "name": "Build JWT + Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "// Pure JS HMAC-SHA256 — no external modules needed\nfunction _sha256(data){const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];let b=[...data];const ml=b.length*8;b.push(0x80);while(b.length%64!==56)b.push(0);for(let i=3;i>=0;i--)b.push(0);for(let i=3;i>=0;i--)b.push((ml>>>(i*8))&0xff);const ro=(x,n)=>(x>>>n)|(x<<(32-n));let a=0x6a09e667,bv=0xbb67ae85,c=0x3c6ef372,d=0xa54ff53a,e=0x510e527f,f=0x9b05688c,g=0x1f83d9ab,h=0x5be0cd19;for(let i=0;i<b.length;i+=64){const W=[];for(let j=0;j<16;j++)W[j]=(b[i+j*4]<<24)|(b[i+j*4+1]<<16)|(b[i+j*4+2]<<8)|b[i+j*4+3];for(let j=16;j<64;j++){const s0=ro(W[j-15],7)^ro(W[j-15],18)^(W[j-15]>>>3);const s1=ro(W[j-2],17)^ro(W[j-2],19)^(W[j-2]>>>10);W[j]=(W[j-16]+s0+W[j-7]+s1)>>>0;}let[aa,bb,cc,dd,ee,ff,gg,hh]=[a,bv,c,d,e,f,g,h];for(let j=0;j<64;j++){const S1=ro(ee,6)^ro(ee,11)^ro(ee,25);const ch=(ee&ff)^(~ee&gg);const t1=(hh+S1+ch+K[j]+W[j])>>>0;const S0=ro(aa,2)^ro(aa,13)^ro(aa,22);const maj=(aa&bb)^(aa&cc)^(bb&cc);const t2=(S0+maj)>>>0;hh=gg;gg=ff;ff=ee;ee=(dd+t1)>>>0;dd=cc;cc=bb;bb=aa;aa=(t1+t2)>>>0;}a=(a+aa)>>>0;bv=(bv+bb)>>>0;c=(c+cc)>>>0;d=(d+dd)>>>0;e=(e+ee)>>>0;f=(f+ff)>>>0;g=(g+gg)>>>0;h=(h+hh)>>>0;}const out=[];[a,bv,c,d,e,f,g,h].forEach(v=>{for(let i=3;i>=0;i--)out.push((v>>>(i*8))&0xff)});return out;}\nfunction _hmac256(key,msg){let k=[...key];if(k.length>64)k=_sha256(k);while(k.length<64)k.push(0);return _sha256([...k.map(b=>b^0x5c),..._sha256([...k.map(b=>b^0x36),...msg])]);}\nfunction _enc(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048){b.push(192|(c>>6));b.push(128|(c&63));}else{b.push(224|(c>>12));b.push(128|((c>>6)&63));b.push(128|(c&63));}}return b;}\nconst cfg     = $('Config').first().json;\nconst payload = $('Webhook').first().json.body;\nconst orgArr  = $('Fetch Org SIP Config').all();\nconst org     = orgArr[0]?.json ?? {};\n\nconst voiceOut   = org.channel_config?.voice_outbound ?? {};\nconst trunkId    = voiceOut.livekit_sip_outbound_trunk_id;\nconst fromNumber = voiceOut.from_number || '';\n\nif (!trunkId) {\n  console.error('No SIP trunk for org: ' + payload.org_id);\n  return [];\n}\n\nif (!payload.phone) {\n  console.error('No phone in payload');\n  return [];\n}\n\nfunction base64url(s) {\n  return Buffer.from(s).toString('base64')\n    .replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n}\nconst roomName = 'wf-' + payload.run_id.replace(/-/g,'').slice(0, 12);\nconst now    = Math.floor(Date.now() / 1000);\nconst header = base64url(JSON.stringify({ alg:'HS256', typ:'JWT' }));\nconst claims = base64url(JSON.stringify({\n  iss: cfg.LIVEKIT_API_KEY,\n  sub: 'n8n-outbound-v8',\n  exp: now + 600,\n  nbf: now,\n  video: { roomCreate: true, roomAdmin: true, room: roomName },\n  sip:   { admin: true, call: true },\n}));\n\nconst sig = Buffer.from(_hmac256(_enc(cfg.LIVEKIT_API_SECRET), _enc(header + '.' + claims))).toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n\nconst jwt = header + '.' + claims + '.' + sig;\n\nconst contactName = payload.contact_data?.name || '';\n\nconst agentMetadata = JSON.stringify({\n  organization_id: payload.org_id,\n  scenario:        'satisfaction_survey',\n  contact_id:      payload.contact_data?.contact_id || null,\n  lead_id:         payload.contact_data?.lead_id || null,\n  appointment_id:  payload.contact_data?.appointment_id || null,\n  phone_to:        payload.phone,\n  contact_name:    contactName,\n  run_id:          payload.run_id,\n  callback_url:    payload.callback_url,\n});\n\nreturn [{ json: {\n  jwt,\n  trunk_id:       trunkId,\n  from_number:    fromNumber,\n  room_name:      roomName,\n  phone:          payload.phone,\n  contact_name:   contactName,\n  run_id:         payload.run_id,\n  callback_url:   payload.callback_url,\n  agent_metadata: agentMetadata,\n} }];"
      }
    },
    {
      "id": "n07",
      "name": "Create LiveKit Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.RoomService/CreateRoom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.jwt }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\":              \"{{ $json.room_name }}\",\n  \"metadata\":          \"{{ $json.agent_metadata.replace(/\"/g, '\\\\\"') }}\",\n  \"empty_timeout\":     120,\n  \"departure_timeout\": 10\n}"
      }
    },
    {
      "id": "n08",
      "name": "Dispatch Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.AgentDispatchService/CreateDispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Build JWT + Payload').item.json.jwt }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_name\": \"{{ $('Config').first().json.LIVEKIT_AGENT_NAME }}\",\n  \"room\":       \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"metadata\":   \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    },
    {
      "id": "n09",
      "name": "Initiate SIP Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.LIVEKIT_HTTP_URL }}/twirp/livekit.SIP/CreateSIPParticipant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Build JWT + Payload').item.json.jwt }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"sip_trunk_id\":         \"{{ $('Build JWT + Payload').item.json.trunk_id }}\",\n  \"sip_call_to\":          \"{{ $('Build JWT + Payload').item.json.phone }}\",\n  \"room_name\":            \"{{ $('Build JWT + Payload').item.json.room_name }}\",\n  \"participant_identity\": \"sip-{{ $('Build JWT + Payload').item.json.phone.replace(/\\\\+/g,'') }}\",\n  \"participant_name\":     \"{{ $('Build JWT + Payload').item.json.contact_name }}\",\n  \"participant_metadata\": \"{{ $('Build JWT + Payload').item.json.agent_metadata.replace(/\"/g, '\\\\\"') }}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Wait Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Delay": {
      "main": [
        [
          {
            "node": "Working Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Working Hours?": {
      "main": [
        [
          {
            "node": "Fetch Org SIP Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Org SIP Config": {
      "main": [
        [
          {
            "node": "Build JWT + Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT + Payload": {
      "main": [
        [
          {
            "node": "Create LiveKit Room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LiveKit Room": {
      "main": [
        [
          {
            "node": "Dispatch Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Agent": {
      "main": [
        [
          {
            "node": "Initiate SIP Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "instanceId": "stoaix-platform"
  },
  "notes": "V8 Satisfaction Survey Voice. Triggered by post_appointment event (T+24h via wait node). scenario=satisfaction_survey. Agent calls save_survey_result() tool to store score. Callback by agent.py."
}