n8n-workflows/WF_satisfaction_survey_chat.json
{
  "name": "stoaix — C5 Satisfaction Survey Chat",
  "nodes": [

    {
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "satisfaction-survey-chat",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "webhookId": "c5-satisfaction-survey-chat"
    },

    {
      "id": "n02",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg_sb_url", "name": "SUPABASE_URL",         "value": "https://ablntzdbsrzbqyrnfwpl.supabase.co", "type": "string" },
            { "id": "cfg_sb_key", "name": "SUPABASE_SERVICE_KEY", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",           "type": "string" },
            { "id": "cfg_tz",     "name": "TZ_OFFSET_HOURS",      "value": "3",                                        "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "n03",
      "name": "Wait Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [640, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": "={{ $('Webhook').first().json.body.config?.hours_after ?? 24 }}"
      },
      "webhookId": "c5-wait-delay"
    },

    {
      "id": "n04",
      "name": "Working Hours?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300],
      "parameters": {
        "jsCode": "const cfg     = $('Config').first().json;\nconst payload = $('Webhook').first().json.body;\nconst cfg2    = payload.config || {};\n\nconst tzOff  = parseInt(cfg.TZ_OFFSET_HOURS, 10);\nconst hStart = cfg2.working_hours_start ? parseInt(cfg2.working_hours_start.split(':')[0], 10) : 9;\nconst hEnd   = cfg2.working_hours_end   ? parseInt(cfg2.working_hours_end.split(':')[0],   10) : 19;\n\nconst nowUtc   = new Date();\nconst nowLocal = new Date(nowUtc.getTime() + tzOff * 3600 * 1000);\nconst hour     = nowLocal.getUTCHours();\nconst day      = nowLocal.getUTCDay();\n\nif (day === 0) return [];\nif (hour < hStart || hour >= hEnd) return [];\n\nreturn [{ json: payload }];"
      }
    },

    {
      "id": "n05",
      "name": "Fetch Org WA Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/organizations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id",     "value": "={{ 'eq.' + $('Webhook').first().json.body.org_id }}" },
            { "name": "select", "value": "id,name,channel_config,ai_persona" },
            { "name": "limit",  "value": "1" }
          ]
        }
      }
    },

    {
      "id": "n06",
      "name": "Extract WA Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "const orgArr  = $('Fetch Org WA Credentials').all();\nconst org     = orgArr[0]?.json ?? {};\nconst payload = $('Webhook').first().json.body;\n\nconst wa    = org.channel_config?.whatsapp;\nconst creds = wa?.credentials;\n\nif (!wa?.active || !creds?.phone_number_id || !creds?.access_token) {\n  return [{ json: {\n    skip: true,\n    run_id:       payload.run_id,\n    callback_url: payload.callback_url,\n    phone:        payload.phone,\n  } }];\n}\n\nconst lang         = org.ai_persona?.language || 'tr';\nconst templateLang = lang === 'en' ? 'en_US' : 'tr';\nconst templateName = payload.config?.message_template || 'satisfaction_survey_v1';\n\nreturn [{ json: {\n  skip:             false,\n  phone_number_id:  creds.phone_number_id,\n  access_token:     creds.access_token,\n  to_phone:         payload.phone.replace(/^\\+/, ''),\n  template_name:    templateName,\n  template_lang:    templateLang,\n  run_id:           payload.run_id,\n  callback_url:     payload.callback_url,\n} }];"
      }
    },

    {
      "id": "n07",
      "name": "WA Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1520, 300],
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "n08",
      "name": "Send WA Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 180],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.to_phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"{{ $json.template_lang }}\" }\n  }\n}"
      }
    },

    {
      "id": "n09",
      "name": "Callback — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract WA Credentials').item.json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('Extract WA Credentials').item.json.run_id }}\",\n  \"status\": \"success\",\n  \"result\": { \"notes\": \"Satisfaction survey WA template sent\" }\n}"
      }
    },

    {
      "id": "n10",
      "name": "Callback — Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"status\": \"failed\",\n  \"result\": { \"notes\": \"WhatsApp not configured for this org\" }\n}"
      }
    }

  ],

  "connections": {
    "Webhook":                  { "main": [[{ "node": "Config",                   "type": "main", "index": 0 }]] },
    "Config":                   { "main": [[{ "node": "Wait Delay",               "type": "main", "index": 0 }]] },
    "Wait Delay":               { "main": [[{ "node": "Working Hours?",           "type": "main", "index": 0 }]] },
    "Working Hours?":           { "main": [[{ "node": "Fetch Org WA Credentials", "type": "main", "index": 0 }]] },
    "Fetch Org WA Credentials": { "main": [[{ "node": "Extract WA Credentials",  "type": "main", "index": 0 }]] },
    "Extract WA Credentials":   { "main": [[{ "node": "WA Configured?",          "type": "main", "index": 0 }]] },
    "WA Configured?": {
      "main": [
        [{ "node": "Send WA Template",  "type": "main", "index": 0 }],
        [{ "node": "Callback — Skipped","type": "main", "index": 0 }]
      ]
    },
    "Send WA Template": { "main": [[{ "node": "Callback — Success", "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "pinData": {},
  "meta": { "instanceId": "stoaix-platform" },
  "notes": "C5 Satisfaction Survey Chat. Triggered by post_appointment event. Waits hours_after (24h default) then sends WA template for satisfaction survey. Uses approved Meta template (satisfaction_survey_v1)."
}
